@model SM.Models.ViewModels.GradeVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<form method="post" enctype="multipart/form-data">
    @if (SignInManager.IsSignedIn(User))
    {
<div class="border p-3">
    <div class="form-group row">
        <h2 class="text-primary pl-3">Add grade to student</h2>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Grade.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Grade.Name" class="form-control" />
                    <span asp-validation-for="Grade.Name" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Grade.Value"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Grade.Value" class="form-control" />
                    <span asp-validation-for="Grade.Value" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-8 offset-4 row">

                    <div class="col">
                        <input type="submit" class="btn btn-primary mx-2 w-100" value="Insert" />

                    </div>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</div>}
</form>
